# Database
DATABASE_URL="postgresql://user:password@localhost:5432/foodsafe"

# NextAuth.js
NEXTAUTH_SECRET="generate-a-random-secret-key-here-use-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Optional: For production on Vercel, you can use VERCEL_URL automatically
