# Site URL
SITE_URL=https://foodsafe.apsgroupco.com/

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret-here
NEXTAUTH_URL=http://foodsafe-good.vercel.app

# Database
DATABASE_URL=postgresql://neondb_owner:password@host/neondb?sslmode=require

# JWT
JWT_SECRET=your-jwt-secret-here

# Vercel
VERCEL_URL=
